* {
    margin: 0;
    
}

body {
    padding: 0;
    margin: 0;
}

nav ul {
    margin: 0%;
    padding: 0;
}

nav  ul  li {
    float: left;
    position: relative;
}

nav li {
    list-style-type: none;
}

.submenu {
    display: none;
}

nav {
    width: 100%;
    background-color: #444444;
    border-bottom: 3px solid #D6972A;
    display: flex;
}

nav ul::after {
    content: "";
    display: block;
    clear: both;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav ul li a {
    padding: 50px 60px 50px 60px;
    color: #D6972A;
    font-family: 'Hammersmith One';
}

nav .logo {
    width: 120px;
    height: 120px;
    margin: 0px 10px 0 10px;
}

nav .barre {
    height: 100px;
    margin-top: 10px;
}

nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0;
    z-index: 1000;
}

.submenu li {
    border-bottom: 1px solid #CCC;
}

.submenu li a {
    padding: 15px 30px;
    font-size: 15px;
    color: #D6972A;
    width: 270px;
}

.menuarticle:hover {
    border-top: 5px solid #D6972A;
    background-color: #303030;
}

nav ul li:hover .linkarticles {
    padding: 45px 60px 50px 60px;
}

.menuarticle .submenu li {
    background-color: #303030;
}

.menuarticle .submenu li:hover {
    background-color: #525252;
} 

main {    
    width: 100%;
    height: 100%;
    background-color: #a9a9a9;
    
}

.partie1 {
    height: 400px;
    width: 100%;
    background-color:#a9a9a9;
    border-bottom: #D6972A solid 2px;
    display: flex;
}

.leftcontent {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightcontent {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article1 {
    height: 200px;
    width: 70%;
    border: 1px solid #D6972A;
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}

.suite {
    align-self: flex-end;
    font-weight: bold;
    color: #D6972A;
    text-decoration: none;
}

.image1 {
    border: 1px solid #D6972A;
    width: 460px;
    height: 262px;
}

.footer {
    display: block;
    width: auto;
    height: 100px;
    background-color: #444444;
    border-top: 2px solid #D6972A;
}


.titreart {
    width: 1200px;
    height: 70px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5a5a5;
    border-bottom: 2px solid #D6972A;
    font-size: 20px;
    color: black;
    border-top: 2px solid #d6972A;
    font-family: 'Merriweather', serif;
    margin: 20px 0 20px 0;
}

.imgart {
    max-height: 700px;
    border: 1px solid #D6972A;
}

.articlemiddlecontent {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #C4C4C4;
}



figcaption {
    text-align: center;
    color: white;
    background-color: #222222;
    font-size: 20px;
}

figure {
    display: flex;
    flex-flow: column;
    margin: auto;
}



.articlemiddlecontent p {
    padding: 0 73px 0 73px;
    text-align: start;
    font-size: 18px;
}

h3 {
    font-size: 20px;
}


.article {
    display: flex;
    justify-content: center;
    background-color: #dfdfdf;
}

.titrebox {
    display: flex;
    justify-content: start;
    width: 980px;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid rgb(97, 97, 97);
    background: #444444;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 20px;
    font-size: 25px;
    color: white;
}

.boxarticle {
    border: 2px solid rgb(97, 97, 97);  
    width: 1000px;
    border-radius: 6px;
    background: #9b9b9b;
}

.boxp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footerart1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: #444444;
    border-top: 2px solid #D6972A;
    
}

.footerart1 a {
    text-decoration: none;
    color: black;
    border: 1px solid #d6972A;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #C4C4C4;
}

.footerart1 a:hover {
    background-color: #d6972A;
    color: white;
}

.articlemiddlecontent p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px;
}

.editeurs {
    display: flex;
    font-size: 20px;
    justify-content: center;
    
}

.editeurs li {
    list-style-type: none;
}

.boxp img {
    width: 280px;
    height: 120px;
}

.iemkato img {
    width: 800px;
    padding-top: 20px;
}

.iemkato {
    display: flex;
}

.investexmp {
    height: auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #909090;
    border-top: 1px solid #909090;
    padding: 20px 0 20px 0;
}

.investp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    font-weight: 700;
}

.starinvest {
    height: auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.starp {
    display: flex;
    flex-direction: column;
    font-weight: 800;
}

.streamer li{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.streamer {
    margin: 15px 0 15px 0;
    padding-left: 40px;
}

.streamer li a {
    padding-left: 7px;
    text-decoration: none;
    color: #d6972A;
}

.luffy {
    width: 900px;
    margin-top: 20px;
    border: 1px solid #d6972A;
}

.articlemiddlecontent li {
    text-align: start;
    margin-left: 60px;
    font-size: 20px;
}

.chiffrebox {
    font-family: monospace;
    margin-top: 10px;
}

.societetitle {
    color: white;
    background: black;
    width: 990px;
    text-align: left;
    padding-left: 10px;
    margin-left: 100px;
    margin-top: 20px;
    border: 1px solid #D6972A;  
}

.societep {
    margin-left: 34px;
    max-width: 900px;
    height: auto;
}

.consochiffre {
    width: 1000px;
    margin-left: 0;
    border: 1px solid #D6972A;
}

.suite:hover {
    color: #e09c26;
}

.contacttopcontent {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.contacttopcontent p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.contacttopcontent h2 {
    font-family: 'Sarala', sans-serif;
    padding-bottom: 20px;
    font-size: 50px;
}

.contactcontent {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 100px;
}

.contactcontent img {
    width: 200px;
}

.figurecontact figcaption{
    width: 200px;
    background: #a9a9a9;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.figurecontact {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Sarala', sans-serif;
}

.iframe {
    width: auto;
    height: auto;
    text-align: center;
    background: #a9a9a9;
    padding-bottom: 100px;
}

.footercontact img {
    width: 50px;
}

.footercontact {
    display: flex;
    width: auto;
    height: 100px;
    background-color: #444444;
    border-top: 2px solid #D6972A;
    justify-content: space-evenly;
    align-items: center;
}

